html {
            background-color: #323232
}
body {
            color: whitesmoke
}
ul {
            color:aqua
}
ol {
            color:beige
}
p{
            color:azure
}
h1 {
            color:blue
}
h2 {
            color:red
}